<!--<div class="list-group"> 
    add ardarate infront of Url if not works
    <a class="list-group-item list-group-item-action" href="Url.Action("Dashboard","Admin")">Dashboard</a> 

    <a class="list-group-item list-group-item-action" href="Url.Action("ManageCustomers","Admin")">Manage Customers</a> 

    <a class="list-group-item list-group-item-action" href="Url.Action("Policies","Admin")">Policies</a> 

    <a class="list-group-item list-group-item-action" href="Url.Action("Claims","Admin")">Claims</a> 
     <a class="list-group-item list-group-item-action" href="Url.Action("Reports","Admin")">Reports</a> 

    <a class="list-group-item list-group-item-action text-danger" href="Url.Action("Index","Home")">Logout</a> 

</div> -->
  <div class="sidebar bg-dark vh-100">
<nav class="nav flex-column">
  <a class="nav-link text-white px-3" href="/Admin/Dashboard">Dashboard</a>
  <a class="nav-link text-white px-3" href="/Admin/ManageCustomers">Manage Customers</a>
  <a class="nav-link text-white px-3" href="/Admin/Policies">Policies</a>
  <a class="nav-link text-white px-3" href="/Admin/Claims">Claims</a>
  <a class="nav-link text-white px-3" href="/Admin/Reports">Reports</a>
  <a class="nav-link text-white px-3" href="/Home/Index">Logout</a>
</nav>
 </div>