@{

    ViewData["Title"] = "Home";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-centre mt-5">

    <h1>Welcome to Vehicle Insurance Management System</h1>

    <p class="lead">Please choose Customer or Admin to continue.</p>
    <p>Testing master lock working</p>
</div> 