@{ 

    ViewData["Title"] = "File Claim"; 

    Layout = "~/Views/Shared/_Layout.cshtml"; 

} 

<div class="row"> 

    <div class="col-md-3">@Html.Partial("_CustomerSidebar")</div> 

    <div class="col-md-9"> 

    <div class="card-flat mx-auto" style="max-width:720px">
  <h4>File Claim</h4>
  <form method="post" enctype="multipart/form-data">
    <div class="mb-3"><label class="form-label">Select Policy</label><input class="form-control" name="policyNo" /></div>
    <div class="mb-3"><label class="form-label">Claim Type</label>
      <select class="form-select" name="claimType"><option>Accident</option><option>Theft</option><option>Damage</option></select></div>
    <div class="mb-3"><label class="form-label">Claim Amount</label><input class="form-control" name="amount" /></div>
    <div class="mb-3"><label class="form-label">Date of Incident</label><input class="form-control" type="date" name="incidentDate" /></div>
    <div class="mb-3"><label class="form-label">Upload Documents</label><input class="form-control" type="file" name="docs" /></div>
    <button class="btn btn-primary">Submit Claim</button>
  </form>
</div>

    </div> 

</div> 