@{

    ViewData["Title"] = "My Claims History";

    Layout = "~/Views/Shared/_Layout.cshtml"; 

} 

<div class="row"> 

    <div class="col-md-3">@Html.Partial("_CustomerSidebar")</div> 

    <div class="col-md-9"> 
<div class="card-flat">
        <div><a class="btn btn-primary" href="/Customer/FileClaim">File Claim</a></div>   
  <h5 class="mt-6">My Claims</h5>
  <table class="table">
    <thead><tr><th>ClaimId</th><th>PolicyNo</th><th>Date</th><th>Amount</th><th>Status</th></tr></thead>
    <tbody>
        <tr><td>CLM001</td><td>KA01AB1234</td><td>2024-04-26</td><td>25000</td><td>Pending</td></tr>
        <tr><td>CLM002</td><td>KA02CD5678</td><td>2024-02-12</td><td>12000</td><td>Approved</td></tr>
        <tr><td>CLM003s</td><td>KA02CD5678</td><td>2024-02-12</td><td>12000</td><td>Approved</td></tr>
    </tbody>
  </table>
</div>
</div>
</div>
